<div id="footer">
    <div class="container mt-4">
      <div class="row">
      <div class="col-6 col-sm-6 col-md-2 logo-footer mt-5 d-none d-sm-block d-md-block">
       <img src="../../assets/logo.svg" class="logo_bottom img-fluid">
      </div>
      <div class="col-6 col-sm-6 col-md-3 divider d-none d-sm-block d-md-block">
       <h4>Information</h4>
       <ul>
         <li>
           <a [routerLink]="['main']" class="active">
            Home
           </a>
         </li>
         <li>
           <a [routerLink]="['#']">
            How it works
           </a>
         </li>
         <li>
           <a [routerLink]="['#']">
            Products
           </a>
         </li>
         <li>
          <a [routerLink]="['#']">
           Avolovers Community
          </a>
        </li>
        <li>
          <a [routerLink]="['#']">
           Contact
          </a>
        </li>
       </ul>
      </div>
      <div class="col-12 col-sm-6 col-md-3 divider">
        <h4>Legal</h4>
        <ul>
          <li>
            <a [routerLink]="['#']">
             Privacy
            </a>
          </li>
          <li>
            <a [routerLink]="['#']">
             Terms and conditions
            </a>
          </li>
          </ul>
      </div>
      <div class="col-12 col-sm-6 col-md-4 followus">
        <h4>Follow us at</h4>
        <ul class="sm-icons">
          <li>
            <a [routerLink]="['#']"><img src="../../assets/Facebook.svg" alt="Facebook"></a>
          </li>
          <li>
            <a [routerLink]="['#']"><img src="../../assets/Instagram.svg" alt="Instagram"></a>
          </li>
          <li>
            <a [routerLink]="['#']"><img src="../../assets/Linkedin.svg" alt="Linkedin"></a>
          </li>
          <li>
            <a [routerLink]="['#']"><img src="../../assets/youtube.svg" alt="YouTube"></a>
          </li>
        </ul>
        <ul class="sm-icons pay-icons mt-5">
          <li>
            <a [routerLink]="['#']"><img src="../../assets/applepay.svg" alt="Apple Pay"></a>
          </li>
          <li>
            <a [routerLink]="['#']"><img src="../../assets/samsungpay.svg" alt="Samsung Pay"></a>
          </li>
          <li>
            <a [routerLink]="['#']"><img src="../../assets/paypal.svg" alt="PayPal"></a>
          </li>
        </ul>
      </div>
    </div>
    </div>
    <div class="row copyright">
      <div class="col-12">
        <small>Calbox Avocado Farms 2020</small>
      </div>
    </div>
</div>