<section class="page-section products-items">
  <div class="container">
    <h2 class="page-section-heading text-center">Avocado-based Super Foods!</h2>
    <div id="carouselsuperfood" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-interval="10000">
          <div class="row">
            <div class="col-12 col-md-4 mb-3 ">
                <div class="card">
                    <div class="card-body">
                        <img src="../../assets/mupwakat.png" class="d-block img-fluid" alt="...">
                        <div class="ribbon off">
                            <img src="../../assets/off.png" alt="Season Only">
                         </div>
                    </div>
                    <a [routerLink]="['#']" class="btn btn-secundary btn-price">See details</a>
                  </div>
                  <div class="item-name">
                      <div class="info">
                        <p>Guacamole Wakalt</p>
                        <p class="bigprice">$3.99</p>
                      </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <img src="../../assets/Aceite.png" class="d-block img-fluid" alt="...">
                    </div>
                    <a [routerLink]="['#']" class="btn btn-secundary btn-price">See details</a>
                  </div>
                  <div class="item-name">
                    <div class="info">
                      <p>Avocado Oil 2 Pack</p>
                      <p class="bigprice">$8.99</p>
                    </div>
              </div>
              </div>
              <div class="col-12 col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <img src="../../assets/icecream.png" class="d-block img-fluid" alt="...">
                       
                    </div>
                    <a [routerLink]="['#']" class="btn btn-secundary btn-price">See details</a>
                  </div>
                  <div class="item-name">
                    <div class="info">
                      <p>Berrie Mix Avocado Ice-Cream</p>
                      <p class="bigprice">$5.99</p>
                    </div>
              </div>
              </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-12 col-md-4 mb-3 ">
                <div class="card">
                    <div class="card-body">
                        <img src="../../assets/mupwakat.png" class="d-block img-fluid" alt="...">
                        <div class="ribbon off">
                            <img src="../../assets/off.png" alt="Season Only">
                         </div>
                    </div>
                    <a [routerLink]="['#']" class="btn btn-secundary btn-price">See details</a>
                  </div>
                  <div class="item-name">
                      <div class="info">
                        <p>Guacamole Wakalt</p>
                        <p class="bigprice">$3.99</p>
                      </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <img src="../../assets/Aceite.png" class="d-block img-fluid" alt="...">
                    </div>
                    <a [routerLink]="['#']" class="btn btn-secundary btn-price">See details</a>
                  </div>
                  <div class="item-name">
                    <div class="info">
                      <p>Avocado Oil 2 Pack</p>
                      <p class="bigprice">$8.99</p>
                    </div>
              </div>
              </div>
              <div class="col-12 col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <img src="../../assets/icecream.png" class="d-block img-fluid" alt="...">
                       
                    </div>
                    <a [routerLink]="['#']" class="btn btn-secundary btn-price">See details</a>
                  </div>
                  <div class="item-name">
                    <div class="info">
                      <p>Berrie Mix Avocado Ice-Cream</p>
                      <p class="bigprice">$5.99</p>
                    </div>
              </div>
              </div>
          </div>
        </div>
      </div>
<div class="container-fluid">
      <a class="carousel-control-prev" href="#carouselsuperfood" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselsuperfood" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    </div>
  </div>
</section>
