<section class="page-section products-items fresh-products">
    <div class="container">
      <h2 class="page-section-heading text-center">It’s all about Avocado! </h2>
      <div id="carouselfreshproducts" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-interval="10000">
            <div class="row">
              <div class="col-12 col-sm-6 col-md-4 mb-3">
                  <div class="card">
                      <div class="card-body">
                          <img src="../../assets/recipe.png" class="d-block img-fluid" alt="...">
                      </div>
                      <a [routerLink]="['#']" class="btn btn-secundary btn-price">See details</a>
                    </div>
                    <div class="item-name">
                        <div class="info">
                            <p>Recipe book</p>
                            <p class="bigprice discount">$8.99</p>
                          </div>
                  </div>
              </div>
              <div class="col-12 col-sm-6 col-md-4 mb-3">
                  <div class="card">
                      <div class="card-body">
                          <img src="../../assets/case.png" class="d-block img-fluid" alt="...">
                      </div>
                      <a [routerLink]="['#']" class="btn btn-secundary btn-price">See details</a>
                    </div>
                    <div class="item-name">
                      <div class="info">
                        <p>Cell phone case</p>
                        <p class="bigprice discount">$1.99 <small> <small>$2.10</small></small></p>
                      </div>
                </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 mb-3">
                  <div class="card">
                      <div class="card-body">
                          <img src="../../assets/shirt.png" class="d-block img-fluid" alt="...">
                         
                      </div>
                      <a [routerLink]="['#']" class="btn btn-secundary btn-price">See details</a>
                    </div>
                    <div class="item-name">
                      <div class="info">
                        <p>Yoga Avocado Blouse</p>
                        <p class="bigprice">$6.99</p>
                      </div>
                </div>
                </div>
            </div>
          </div>
        </div>
  <div class="container-fluid">
        <a class="carousel-control-prev" href="#carouselfreshproducts" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselfreshproducts" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      </div>
    </div>
  </section>
  