
@import  "calbox.scss";
html,
body {
  height: 100%;
}
body {
    margin: 0;
    background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(2,18,57,1) 0%, rgba(5,103,149,1) 0%, rgba(9,69,103,1) 37%, rgba(11,45,70,1) 64%, rgba(14,26,43,1) 100%, rgba(0,212,255,1) 100%);
    font-family: 'Roboto', sans-serif;
  .uppercase{
    text-transform: uppercase!important;
  }
}
[tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0 !important;
  }
  
  hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
  }
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    width: 100%;
    padding: 0;
}

// Products-Items
.page-section{
  &.products-items {
    padding: 2rem 0 0;
    .page-section-heading{
      color: #fff;
      font-size: 30px;
      margin-bottom: 1.5rem;
    }
    .carousel-control-prev{
      left: -100px;
    }
    .carousel-control-next {
      right: -100px;
    }
    .carousel-control-next-icon, .carousel-control-prev-icon{
      top: -40px;
    position: relative;
    }
  }
  .card{
    border-radius: 30px;
    // width: 290px;
    width: auto;
    margin: auto;
    align-items: center;
    max-height: 330px;

  }
  .price{
    @include price
  }
  .ribbon {
    position: absolute;
    top: 0;
    left: 0;
    img {
      width: 120px;
    }
  }
  .smallitems{
      font-size:15px;
      font-weight: normal;
  }
  .btn-price{
    @include btn-price
  }
  .item-name{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: flex-start;
    color: #fff;
    margin: auto;
    width: 290px;
    .info{
      margin: auto;
    }
    p{
      margin-bottom: 0;
    }
    .bigprice { 
      @include bigprice
    } 
    .discount{
      color: #FF6900;
      small{
        color: #8BC53F;
      }
      small small{
        text-decoration: line-through;
      }
    }
   
  }
  &.fresh-products{
    h2:before{
      content: "";
      width: 310px;
      height: 1px;
      display: block;
      border: 1px solid #FCDE06;
      margin: auto auto 10px;
  }
  }
}
.btn-getit { 
  @include btn-getit
} 
@media (max-width: 768px){
  html, body {
    margin: 0;
    overflow-x: hidden; 
  }
  .page-section{
    &.products-items { 
      .page-section-heading {
        font-size: 20px;
        margin-bottom: 1rem;
      }
          .carousel-control-prev {
            left: 0;
            height: 40px;
          }
          .carousel-control-next {
            right: 0;
            height: 40px;
        }
      }
  }

}