.banner-bottom{
    height: 280px;
    background: rgb(139,197,63);
    background: linear-gradient(90deg, rgba(139,197,63,1) 0%, rgba(252,222,6,1) 100%);
    position: relative;
    .waka{
        position: absolute;
        top:-100px;
        left: 0;
    }
    .dbox {
        position: absolute;
        top: -70px;
        left: 0;
    }
    .tito {
        position: absolute;
        top: -90px;
        right: -30px;
    }
    .btn-getit {
        position: absolute;
        bottom: 0;
    }

}
@media (max-width: 768px){ 
    .banner-bottom{ 
        height: auto;
        .waka{
            position: relative;
        }
        .dbox {
            position: relative;
            left: 0;
        }
        .btn-getit {
            bottom: 25px;
        }
    }
}