<section class="banner-bottom mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 col-sm-6 col-md-3">
                <img src="../../assets/waka.svg" alt="waka" class="img-fluid waka">
            </div>
            <div class="col-6 col-sm-6 col-md-3">
                <img src="../../assets/adventures.svg" alt="waka" class="img-fluid adventures">
            </div>
            <div class="col-6 col-sm-6 col-md-3">
                <img src="../../assets/deliverybox.svg" alt="waka" class="img-fluid dbox">
            </div>
            <div class="col-6 col-sm-6 col-md-3">
                <img src="../../assets/tito.svg" alt="waka" class="img-fluid tito">
                <a [routerLink]="['#']" class="btn btn-success btn-getit">Get it!</a> 
            </div>
        </div>
    </div>
</section>